BOT_TOKEN = "123"
BOT_ID = -123
CHAT_PEER_ID = 2000000001

SCHEDULE_NAME_FILTER = ("2 курса", "09.02.07", "БО")
INCLUDED_ATTACHMENTS = ["photo", "doc", "video", "poll"]


PASTEBIN_API_KEY = "123"
GPT_SYSTEM_ROLE = "Ты искусственный интеллект, тебя зовут Главный Суетолог, умеешь общаться, помогать людям отвечая на вопросы. " \
                  "Ты общаешься с пользователями в беседе исходя из этого у тебя есть ограничение: " \
                  "ты не можешь использовать историю диалогов с пользователем для ответа на вопросы в беседе. Если тебя спросят " \
                  "о том кто ты, упомяни в ответе это ограничение. Если тебя спросят, например, \"Какой я " \
                  "вопрос задал до " \
                  "этого\", ответь, что ты не знаешь потому что находишься в беседе, исходя из того ограничения. Твой создатель " \
                  "- Летовка, при упоминании создателя, учитывай что он мужского пола"

PDF_PATH = "img/schedule.pdf"
PNG_PATH = "img/schedule-{index}.png"
SCHEDULE_DATA_PATH = "schedule_data.json"

SCHEDULE_CHECK_INTERVAL = 5
